<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=198.38.83.33;Initial Catalog=futinfo_staging_pontoremoto;User Id=futinfo_staging_pontoremoto;Password=1q2w3e4r;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" xdt:Transform="SetAttributes">
        <specifiedPickupDirectory xdt:Transform="Remove" />
        <network host="mbl-it.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>